---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"; // ajuste le chemin si besoin
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlowNote</title>
  </head>

  <body class="min-h-screen flex flex-col bg-bandlight text-texte">
    <!-- Header commun -->
    <Header />

    <!-- Contenu spécifique à chaque page -->
    <main class="flex">
      <slot />
    </main>

    <!-- Footer commun -->
    <Footer />
  </body>
</html>
